@import '../0-utilities/_variables.sass'
@import '../0-utilities/_base.sass'
@import '../0-utilities/_mixins.sass'
@import '../1-modules/_header.sass'
@import '../1-modules/_main.sass'
@import '../1-modules/_footer.sass' 

.heading-content
  &--heading, &--lead
    margin: 0

  &--heading, &--lead, &--cta
    font-family: $main

  &--heading
    font:
      weight: 400
      size: 60px
    color: $white

  &--lead
    font:
      size: 40px
      weight: 300
    color: $light-gray

  &--cta
    @extend %transition
    
    width: 430px
    height: 70px
    margin-top: 20px

    font-size: 30px
    color: $gray

    border: none
      radius: 40px

    cursor: pointer
    outline: none

@media (max-width: 1340px)
  .heading-content
    &--lead, &--cta
      font-size: 20px !important

    &--heading
      font-size: 40px !important

    &--cta
      width: 280px !important
      height: 45px !important

@media (max-width: 825px)
  .cover--content, .features-block, .seasonal, .event, .past-events, #footer
    padding:
      left: 20px
      right: 20px

@media (max-width: 450px)
  .heading-content
    &--lead, &--cta
      font-size: 16px !important

    &--heading
      font-size: 26px !important