.footer-wrapper
  .contact.footer-wrapper--column
    h1.contact--header Contact
    h2.contact--phone-number 401-861-5190
    p.contact--address 92 Spruce Street
      br
      | Providence, Rhode Island
    a(href="#").contact--link View map &#187;
  .schedule.footer-wrapper--column
    h1.schedule--header Schedule
    p.schedule--period Tuesday - Thursday: 8:30am - 11pm
    p.schedule--period Friday - Saturday: 8:30am - 11:30pm
    p.schedule--period Sunday: 10am - 10pm
    p.schedule--period Closed on Monday

  .social.footer-wrapper--column
    h1.social--header Social
    i.social--icon.fa.fa-facebook-square.fa-5x
    i.social--icon.fa.fa-twitter-square.fa-5x
    i.social--icon.fa.fa-instagram.fa-5x
  
hr.footer-break

h1.footer-logo Cake factory